.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f7f9fb;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    background-image: url("/public/bg_qae_fe.jpg");
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
}

.button-container {
    margin-right: 600px;
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.nav-button {
    padding: 12px 24px;
    background: linear-gradient(135deg, #4cafef, #3f51b5);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.3s ease-out, filter 0.3s ease-out;
}

.nav-button:hover {
    transform: scale(1.05);
    filter: saturate(2);
}
